# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Credentials
**/credentials.json
**/secrets.yaml
**/secret.yaml
**/secret.yml
**/secrets.yml
